* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  background-color: gray;
  min-height: 100vh;
  background: url("assets/5532919.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-principal {
  color: white;
  background-color: transparent;
  width: 100vh;
  max-width: 26rem;
  padding: 1.5rem;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.12);
  border-radius: 1rem;
  backdrop-filter: blur(0.5rem);
}

.container-principal:hover {
  box-shadow: 0 0 3rem white;
  transition: 0.6s;
}

#titulo {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.container-acesso {
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
}

.container-acesso label {
  font-size: 0.4rem;
}

.container-acesso input {
  padding: 0.6rem;
  border: 0.06rem solid white;
  background-color: transparent;
  border-radius: 1rem;
  width: 100%;
  outline: none;
  margin-top: 0.5rem;
  color: white;
  font-size: 1rem;
}

.container-acesso input:hover {
  border: none;
  box-shadow: 0 0 0.6rem white;
  transition: box-shadow 0.5s;
}

.container-acesso i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}

.container-acesso ::placeholder {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}

.container-checkbox {
  margin-bottom: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.container-checkbox input {
  accent-color: white;
  margin-right: 0.1rem;
}

#btn {
  margin: 0.8rem 0;
  width: 100%;
  background-color: white;
  cursor: pointer;
  border-radius: 1.5rem;
  color: black;
  border: none;
  padding: 0.8rem 0.6rem;
  font-size: 1rem;
  font-weight: 600;
}

#btn:hover {
  background-color: transparent;
  box-shadow: 0 0 0.6rem white;
  color: white;
  transition:
    box-shadow 0.5s,
    background-color 0.5s,
    color 0.5s;
}

.container-cadastre-se {
  text-align: center;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .container-principal {
    width: 50%;
    max-width: 26rem;
  }

  #titulo {
    font-size: 1.5rem;
  }

  .container-checkbox {
    font-size: 1rem;
  }
  .container-cadastre-se {
    font-size: 0.9rem;
  }
}

@media (max-width: 640px) {
  #titulo {
    font-size: 1.25rem;
  }

  .container-checkbox {
    font-size: 0.6rem;
  }
  .container-cadastre-se {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  #titulo {
    font-size: 1.25rem;
  }

  .container-acesso input {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .container-cadastre-se {
    font-size: 0.6rem;
  }

  .container-checkbox {
    font-size: 0.6rem;
  }
}

@media (max-width: 420px) {
  #titulo {
    font-size: 1rem;
  }

  .container-acesso input {
    font-size: 0.5rem;
    padding: 1rem;
  }

  .container-cadastre-se {
    font-size: 0.5rem;
  }

  .container-checkbox {
    font-size: 0.5rem;
  }
}
